![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma exercícios utilizando a biblioteca Pandas.\
Todos os datasets utilizados nos exercícios estão salvos na pasta *datasets*.\
Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

#### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.\
Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.\
Salve os dados em uma variável de nome *crime*.

In [29]:
# Seu código
import pandas as pd
crime_rates = pd.read_csv('/content/US_Crime_Rates_1960_2014.csv')

#### Tarefa 2. Qual o tipo de dados em cada coluna?

In [30]:
# Seu código
crime_rates.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

#### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [31]:
# Seu código
crime_rates['Year'] = pd.to_datetime(crime_rates['Year'], format='%Y')

#### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [35]:
# Seu código
crime_rates = crime_rates.set_index('Year', drop=True)

#### Tarefa 5. Remova a coluna Total do DataFrame.

In [33]:
# Seu código
crime_rates.drop(columns='Total', inplace=True)

#### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [45]:
# Seu código
crime_rates.loc['1978-01-01']['Vehicle_Theft']

1004100

#### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [52]:
# Seu código
crime_rates[crime_rates['Murder']==crime_rates['Murder'].max() ]

            Population  Violent  ...  Larceny_Theft  Vehicle_Theft
Year                             ...
1991-01-01   252177000  1911770  ...        8142200        1661700

[1 rows x 10 columns]

#### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [51]:
# Seu código
crime_rates[crime_rates['Vehicle_Theft']==crime_rates['Vehicle_Theft'].min() ]['Murder']

Year
1960-01-01    9110
Name: Murder, dtype: int64

**Parabéns! Você chegou ao fim**